:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Ralewey", sans-serif;
  --color-primary: #212121;
  --color-sacondary: #2196f3;
  --background-color-primary: #e5e5e5;
  --color-white: #ffffff;
  --color-grey: #757575;
  --color-dark-white: #f5f4fa;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: var(--main-font);
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

a {
  text-decoration: none;
  font-style: normal;
  color: var(--color-primary);
}
ul,
ol {
  list-style: none;
}
/*==============OTHERS============*/
/*_______web-studio______*/
.webstudio {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.web {
  color: var(--color-sacondary);
}
/*_____end web-studio_____*/
.heading-main {
  /*___Чем занимаемся(заголовки)____ */
  text-align: center;
  margin-top: 94px;
  margin-bottom: 50px;
  height: 42px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: 0.03em;

  color: var(--color-primary);
}
.contanier {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/*________MODAL-BTN_________*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 250ms linear;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: var(--color-white);
  transition: all 500ms linear 500ms;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 500ms linear 500ms;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  transition: all 250ms linear 250ms;
}
.close-btn {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0px;
  width: 30px;
  height: 30px;

  background-color: var (--color-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.close-btn svg {
  height: 30px;
}
.close-btn:hover svg {
  fill: var(--color-sacondary);
}
/*____________FORM-MODAL_________*/
.modal__form {
  width: 448px;
  height: 342px;
  margin: 40px;
  display: flex;
  flex-direction: column;
}
.modal__form-title {
  width: 448px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--color-primary);
}
.modal__form-field {
  margin-bottom: 10px;
  width: 448px;
  height: 138px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--color-grey);
}
.modal__form-wrapper {
  position: relative;
  margin-top: 10px;
}
.modal__form-input {
  padding-left: 40px;
  margin-top: 4px;
  width: 448px;
  height: 40px;

  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}
.modal__form-svg {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
}
.modal__form-message {
  height: 120px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  outline: none;
  margin-bottom: 20px;
  margin-top: 4px;
  padding-left: 12px;
  padding-top: 12px;
}
.modal__form-policy--label {
  height: 24px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;

  color: var(--color-grey);
}
.modal__form-policy--label::before {
  display: inline-block;
  margin-right: 7px;
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid var(--color-primary);
  border-radius: 4px;
}
.modal__form-policy:checked + .modal__form-policy--label::before {
  background-color: var(--color-sacondary);
  background-image: url(../images/ok.svg);
  border-color: var(--color-sacondary);
}
.modal__form-btn {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px 28px;
  align-items: center;
  width: 200px;
  height: 50px;

  background: var(--color-sacondary);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  cursor: pointer;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-white);
}
.modal__form-input:focus,
.modal__form-message:focus {
  border: 1px solid var(--color-sacondary);
}
.modal__form-input:focus + .modal__form-svg {
  fill: var(--color-sacondary);
}
/*==============END OTHERS=========*/
/*=============HEADER ШАПКА========*/
/*_________HEDER_________*/
.header {
  padding: 29px 0;
}
.header .contanier {
  display: flex;
  align-items: center;
}
/*________logo_________ */
.header .webstudio {
  margin-right: 90px;
}
/*___________NAVIGATION________ */
.navigation,
.contact-list {
  display: flex;
  align-items: center;
  font-weight: 500;
}
.contact-list a {
  color: var(--color-grey);
}
.navigation__list {
  display: flex;
}
.navigation__item {
  position: relative;
}
.navigation__item:not(last-child) {
  margin-right: 50px;
}
.current {
  color: var(--color-sacondary);
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -191%;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--color-sacondary);
  border-radius: 2px;
}
.contact-list svg {
  height: 16px;
  width: 20px;
  margin-right: 10px;
  fill: var(--color-grey);
}
.navigation__item:hover svg,
.navigation__item:focus svg,
.navigation__item:hover a,
.navigation__item:focus a {
  fill: var(--color-sacondary);
  color: var(--color-sacondary);
}
.header .adress {
  margin-left: auto;
  font-weight: 500;
}
/*============END HEADER ШАПКА=========*/
/*=============HERO-ГЕРОЙ==============*/
.hero {
  text-align: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/img_hero.png);
}
.hero_title {
  /*__Эффективные решения для вашего бизнеса__*/
  display: flex;
  text-align: center;
  justify-content: center;

  padding-top: 200px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-color-primary);
}
.button {
  /* ___BUTTON-Заказать-услугу___ */
  font-weight: 900;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--color-white);
  background-color: var(--color-sacondary);
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  border: 1px solid var(--color-sacondary);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  margin-top: 30px;
}
/*=============END HERO-ГЕРОЙ===========*/
/*=========ADVANTAGE-ПРЕМУЩЕСТВО=========*/
/*____________ADVANTAGE-ITEM____________*/
.advantage .container {
  height: 290px;
}
.advantage .heading-main {
  display: none;
  color: transparent;
}
.advantage__list {
  display: flex;
  margin-top: 94px;
}
.advantage__card {
  width: 270px;
}
.advantage__card:not(:last-child) {
  margin-right: 30px;
}
.svg-advantage {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background: var(--color-dark-white);
  border-radius: 4px;
}
.svg-advantage svg {
  width: 70px;
}
.advantage__heading {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  margin-bottom: 10px;
  width: 270px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-primary);
}
.advantage__text {
  width: 270px;
  height: 101px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 714;
  letter-spacing: 0.03em;
  color: var(--color-grey);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/*=======END ADVANTAGE-ПРЕМУЩЕСТВО========*/
/*==============SERVICE-УСЛУГИ=============*/
.service .container {
  height: 386px;
}
.service .heading-main {
  margin-top: 94px;
  margin-bottom: 50px;
}
.service__list {
  display: flex;
  justify-content: space-between;
}
.service__img:not(:last-child) {
  margin-right: 30px;
}
/*===========END SERVICE-УСЛУГИ===========*/
/*=============TEAM-КОМАНДА==============*/
.team {
  background: var(--color-dark-white);
}
.team .heading-main {
  padding-top: 94px;
  padding-bottom: 50px;
}
/*__team-item__*/
.team__list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  margin-top: 50px;
}
.team__card-items {
  height: 428px;
  margin-bottom: 94px;
  background-color: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  /* background-color: var(--color-white); */
}
.team__card-items:not(last-child) {
  margin-right: 30px;
}
.team__name {
  /*_____NAME-Имя______ */
  margin-top: 30px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 19;
  letter-spacing: 0.03em;

  color: var(--color-primary);
}
.team__post {
  /* ____POST-Должность___ */
  margin-top: 10px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 19;
  letter-spacing: 0.03em;

  color: var(--color-grey);
}
/*_____social-links_____*/
.links {
  /* _____LINKS_____ */
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  width: 206px;
  height: 44px;
}
.social-link {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 44px;
  height: 44px;
  background-color: white;
  border-radius: 50%;
}
.social-link:not(:last-child) {
  margin-right: 10px;
}
.social-link svg {
  width: 20px;
  fill: #afb1b8;
}
.social-link:hover,
.social-link:focus {
  background-color: var(--color-sacondary);
}
.social-link:hover svg,
.social-link:focus svg {
  fill: var(--color-white);
}
/*===========END TEAM-КОМАНДА============*/
/*================CLIENTS===============*/
.client .contanier {
  margin-bottom: 94px;
}
.clients {
  display: flex;
}
.card-client {
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.card-client svg {
  width: 170px;
  height: 90px;
  fill: #afb1b8;
}
.card-client:not(:last-child) {
  margin-right: 30px;
}
.card-client:hover,
.card-client:focus {
  border-color: var(--color-sacondary);
}
.card-client:hover svg,
.card-client:focus svg {
  fill: var(--color-sacondary);
}
/*================END CLIENTS=============*/
/*============FOOTER-ПОДВАЛ==============*/
.footer {
  background-color: #2f303a;
}
.footer .contanier {
  display: flex;
}
.footer .webstudio {
  margin-top: 60px;
  margin-bottom: 20px;

  display: inline-block;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-white);
}
/*____footer-adress____*/
.footer__item-adress {
  font-family: var(--main-font);
  color: var(--color-white);
}
.footer__adress {
  padding-bottom: 9px;
  margin-bottom: 54px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-white);
  width: 232px;
}
.adress-link,
.contact {
  padding-bottom: 9px;
}
.adress-link a {
  color: var(--color-white);
}
.contact a {
  color: rgba(255, 255, 255, 0.6);
}
/* ______JOIN-LINKS______ */
.join-links {
  margin-left: 70px;
  margin-right: 93px;
  width: 206px;
}
/*_____join-присоеденяйтесь_____*/
.join {
  margin-top: 72px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 100%;
  color: var(--color-white);
}
.social-list-link {
  display: flex;
  margin-top: 20px;
}
.social-link {
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.1);
}
/* ______MAILING-РАССЫЛКА________ */
.mailing-title {
  margin-top: 72px;
  margin-bottom: 20px;
  width: 219px;
  height: 16px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--color-white);
}
.mailing-mail {
  display: flex;
  justify-content: start;
}
.mailing-contact {
  padding-left: 12px;
  width: 358px;
  outline: none;
  background-color: transparent;
  color: var(--color-white);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.mailing-btn {
  margin-left: 12px;
  padding: 6px 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  width: 200px;
  height: 50px;

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  border: 0;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--color-sacondary);
  color: var(--color-white);
  cursor: pointer;
}
.icon-send {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}
/*==========END FOOTER-ПОДВАЛ============*/
/*_______________________________________*/
/*_______________________________________*/
/*================PORTFOLIO==============*/
/*==========GALERY FOR PORTFOLIO=========*/
/*____galery-btn____ */
.galery__btn-list {
  display: flex;
  justify-content: center;
  margin-top: 94px;
  margin-bottom: 34px;
}
.galery__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background: var(--color-dark-white);
  border-radius: 4px;
  padding: 6px 22px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.galery__btn:hover,
.galery__btn:focus {
  background: var(--color-sacondary);
  color: var(--color-white);
  border-radius: 4px;
}
.galery__btn:not(last-child) {
  margin-right: 8px;
}
/*___end galery-bt___ */
/* ______GALERY_ITEM_______ */
.galery__portfolio {
  margin-bottom: 64px;
}
.galery__card-list {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
}
.galery__card-item {
  width: 370px;
}
.galery__wrapper {
  position: relative;
  overflow: hidden;
  display: block;
}
.galery__item {
  display: block;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.galery__card-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.galery__card-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.galery__card-item:hover .overlay {
  opacity: 1;
  top: 0;
  left: 0;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0%);
}
.galery__footer-card {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.galery__name {
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;

  color: var(--color-primary);
}
.galery__category {
  margin-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  font-weight: 400;
  letter-spacing: 0.03em;

  color: var(--color-grey);
}
/*____OVERLAY___*/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 1000ms cubic-bezier(0.4, 0, 0.2, 1);

  transform: translateY(100%);
}
.text-overlay {
  display: flex;
  align-items: center;
  width: 322px;
  height: 168px;
  margin: 63px 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.555;

  letter-spacing: 0.03em;
  color: var(--color-white);
}
/*==========END GALERY FOR PORTFOLIO=========*/
